<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanguardswift.vanguardapp">



    <application
        android:allowBackup="true"
        android:name=".AppClass"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Complete"
            android:label="@string/title_activity_complete"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SectionE"
            android:label="@string/title_activity_section_e"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SectionD"
            android:label="@string/title_activity_section_d"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SectionC"
            android:label="@string/title_activity_section_c"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SectionB"
            android:label="@string/title_activity_section_b"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SectionA"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>




</manifest>